/* RESET & GENERAL */

.cf:after {
  content: "";
  clear: both;
  display: block;
}

a {
  color: #28343F;
  text-decoration: none;
}

li {
  margin: 0;
  list-style: none;
}

html {
  margin: 0;
}

body {
  /*position: absolute;*/
  /*top: 0;*/
  background-color: #FCFDFF;
  color: #28343F;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  min-width: 935px;
  box-sizing: border-box;
  overflow: scroll;
}

.content-area {
  padding-top: 110px;
  padding-bottom: 40px;
}


/* HEADER */

header {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  height: 77px;
  background-color: #FCFDFF;
  border-bottom: 1px solid #DBDCDD;
  z-index: 20;
}

.logo {
  float: left;
  padding-left: 10px;
  padding-top: 5px;
  height: 70px;
}

.menu {
  width: 60%;
  min-width: 480px;
  margin: 26px 20px 0 0;
  float: right;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  height: 24px;
}

.menu a {
  padding-right: 30px;
  float: right;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.menu a:hover {
  color: #bb1f26;
}



/* FOOTER */

footer {
  align-items: center;
  background-color: #bb1f26;
  color: #28343F;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}

footer span {
  padding-right: 30px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #EDD;
  font-weight: bold;
}

footer img {
  width: 26px;
  padding-left: 13px;
}





/* HOME */

.title {
  padding: 0 20px;
  width: 935px;
  margin: 0 auto;
  text-align: center;
  line-height: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.title-name {
  font-size: 97px;
}

.title-red {
  color: #bb1f26;
}

.title-gray {
  color: #bb1f26;
}

.home-banner {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 24px;
}

.home-quote {
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  font-size: 38px;
}

.home-quote-source {
  display: block;
  text-align: right;
  font-size: 22px;
  margin-top: 20px;
}



/* GENERAL PAGE TEMPLATE */

.page-title {
  color: #E8C905;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
}

.page-body {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  width: 88vw;
}

.page-content {
  margin: 0 10%;
}

h3 {
  padding-top: 70px;
  font-size: 20px;
  font-weight: 400;
}

h3:first-of-type {
  padding: 0;
}

h4 {
  font-weight: 400;
}




/* PROGRAMS PAGE */

.programs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.programs-grid {
  box-sizing: border-box;
  width: 40vw;
  height: 64vw;
  display: flex;
  flex-wrap: wrap;
}

.program-card {
  align-items: center;
  background-color: #E8C905;
  box-sizing: border-box;
  display: flex;
  font-family: 'Bree Serif', serif;
  height: 14vw;
  justify-content: center;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 18vw;
  /*-webkit-transition: all 0.35s;
  transition: all 0.35s;*/
}

.programs-img {
  width: 18vw;
  height: 14vw;
  position: absolute;
  z-index: 0;
}

/*.program-card.red {
  background-color: #bb1f26;
}

.program-card.gray {
  background-color: gray;
}

.program-card.black {
  background-color: #28343F;
}*/

.program-card.clear div {
  z-index: 10;
}

.program-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.program-card.clear:hover {
  cursor: default;
  opacity: 1;
}

.program-card-title {
  font-size: 2.25vw;
  margin: 0 20px;
}

.programs-info {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  height: 64vw;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  width: 40vw;
}

.program-description {
  background-color: #EFEFEF;
  box-sizing: border-box;
  max-height: 97%;
  overflow: scroll;
  padding: 30px;
  width: 40vw;
}

.description-placeholder {
  font-size: 20px;
}

.description-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.description-header {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

.description-section {
  margin-bottom: 20px;
}

.description-section:last-of-type {
  margin-bottom: 0;
}

.description-class-section {
  margin-bottom: 6px;
}

.description-link {
  color: #bb1f26;
}

.description-link:hover {
  font-weight: bold;
}

.programs-calendar {
  background-color: #EFEFEF;
  height: 400px;
  margin: 20px 0 10px 0;
  width: 68vw;
}

/*
image, black
gold, red
grey, black
red, gold
*/

/*
mobile will be single column and expand down
*/



/* CONTACT PAGE */

.contact-title {
  margin-left: 100px;
}

.contact-section {
  margin: 30px 0;
  margin-left: 100px;
}

.contact-section span {
  display: block;
}

.contact-section span a {
  color: #bb1f26;
  font-weight: bold;
}




/* PHONE */


@media screen and (max-width: 576px) {
  header {
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    background-color: lightgray;
    z-index: 1;
  }

  .content-area {
    position: relative;
    top: 42vh;
  }

  .menu-container {
    min-width: 60vw;
    width: 60%;
    float: right;
    padding-right: 10vw;
  }

  .menu {
    padding: 0;
  }

  .menu li {
    padding: 0;
    float: right;
  }
}
