/* RESET & GENERAL */

* {
  max-width: 100%;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

a {
  color: #28343F;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  list-style: none;
}

html {
  margin: 0;
}

h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  background-color: #FCFDFF;
  color: #28343F;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.content-area {
  padding-top: 110px;
  padding-bottom: 90px;
}


/* HEADER */

header {
  background-color: #FCFDFF;
  border-bottom: 1px solid #DBDCDD;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 77px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 20;
}

.logo {
  height: 70px;
  padding-left: 10px;
  padding-top: 5px;
}

.menu {
  width: 44%;
  min-width: 531px;
  margin: 26px 20px 0 0;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  height: 24px;
}

.menu-item {
  padding-right: 30px;
  text-transform: uppercase;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
}

.menu-item:hover {
  color: #bb1f26;
}

.submenu-link:hover .submenu {
  display: block;
  opacity: 1;
}

.submenu-link:hover .menu-item {
  color: #bb1f26;
}

.submenu:hover {
  display: block;
  opacity: 1;
}

.submenu {
  display: none;
  font-size: 14px;
  position: absolute;
  opacity: 0;
}

.submenu-item {
  color: #bb1f26;
  padding-right: 20px;
}

.submenu-item:hover {
  color: #28343F;
}



/* FOOTER */

footer {
  align-items: center;
  background-color: #bb1f26;
  bottom: 0;
  box-sizing: border-box;
  color: #28343F;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

footer span {
  padding-right: 30px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #EDD;
  font-weight: bold;
}

footer img {
  width: 26px;
  padding-left: 13px;
}





/* HOME */

.title {
  padding: 3vw 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 0.95;
  font-family: 'Open Sans', sans-serif;
  font-size: 10vw;
  text-transform: uppercase;
  box-sizing: border-box;
}

.title-name {
  font-size: 8vw;
  display: block;
}

.title-red {
  color: #bb1f26;
}

.title-gray {
  color: #bb1f26;
}

.home-banner {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 24px;
}

.home-quote {
  font-size: 2.7vw;
  margin: 0 auto;
  margin-top: 90px;
  transform: skew(-6deg);
  -webkit-transform: skew(-6deg);
  width: 80%;
}

.home-quote-source {
  display: block;
  text-align: right;
  font-size: 22px;
  margin-top: 20px;
  transform: skew(0deg);
  -webkit-transform: skew(6deg);
}



/* GENERAL PAGE TEMPLATE */

.page-title {
  color: #E8C905;
  font-family: 'Open Sans', serif;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 40px;
}

.page-body {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  width: 80vw;
}

.page-content {
  margin: 0 10%;
}

h3 {
  padding-top: 70px;
  font-size: 20px;
  font-weight: 400;
}

h3:first-of-type {
  padding: 0;
}

h4 {
  font-weight: 400;
}




/* PROGRAMS PAGE */

.programs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.programs-grid {
  box-sizing: border-box;
  width: 48%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.program-card {
  align-items: center;
  background-color: #E8C905;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-family: 'Open Sans', serif;
  height: calc(24% - 20px);
  justify-content: center;
  margin: 10px 20px 10px 0;
  text-align: center;
  vertical-align: top;
  width: 44%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.programs-img {
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(94%);
}

.program-card.clear {
  color: black;
}

.program-card.red {
  background-color: #bb1f26;
}

.program-card.gray {
  background-color: gray;
}

.program-card.black {
  background-color: #101419;
}

.program-card.clear div {
  z-index: 10;
}

.program-card:hover {
  opacity: 0.8;
  cursor: pointer;
}

.program-card.clear:hover {
  cursor: default;
  opacity: 1;
}

.program-card-title {
  font-size: 1.75vw;
  margin: 0 10px;
}

.programs-info {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  height: 592px;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  width: 48%;
}

.program-description {
  background-color: #EFEFEF;
  box-sizing: border-box;
  max-height: 97%;
  overflow-y: scroll;
  padding: 30px;
  width: 40vw;
}

.description-placeholder {
  font-size: 20px;
}

.description-title {
  color: #bb1f26;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.description-header {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

.description-section {
  margin-bottom: 20px;
}

.description-section:last-of-type {
  margin-bottom: 0;
}

.description-class-section {
  margin-bottom: 6px;
}

.description-link {
  color: #bb1f26;
}

.description-link:hover {
  font-weight: bold;
}

.register-button {
  background-color: white;
  border-radius: 1px;
  box-sizing: border-box;
  color: #bb1f26;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  padding: 12px 20px;
}

.programs-calendar {
  background-color: #EFEFEF;
  height: 500px;
  margin: 40px 0 10px 0;
  width: 68vw;
}





/* CONTACT PAGE */

.contact-grid {
  display: flex;
}

.contact-grid-item {
  width: 50%;
}

.contact-section {
  margin: 30px 0;
}

.contact-section:first-of-type {
  margin-top: 0;
}

.contact-section span {
  display: block;
}

.contact-section span a {
  color: #bb1f26;
  font-weight: bold;
}





/* PHILOSOPHY / STUDIO */

.page-section {
  padding: 40px;
}

.page-section p {
  margin-top: 22px;
  margin-bottom: 0;
}

.page-section p:first-of-type {
  margin-top: 0;
}

.page-section-gray {
  background-color: #EFEFEF;
}

.page-section-clear {
  padding-top: 0;
}

.section-header {
  color: #bb1f26;
  font-size: 26px;
  margin-bottom: 20px;
}




 /* PHILOSOPHY */

.phil-quote {
  color: #bb1f26;
  font-size: 22px;
}

.phil-quote-source {
  text-align: right;
}

.phil-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 94%;
}

.phil-grid img {
  box-sizing: border-box;
  height: 25%;
  padding: 20px;
  width: 25%;
}

.phil-bio-name {
  color: #bb1f26;
}





/* STUDIO */

.studio-greeting {
  color: #bb1f26;
  font-size: 22px;
  margin-bottom: 20px;
}

.group {
  margin-top: 22px;
  margin-bottom: 0;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-grid div {
  box-sizing: border-box;
  padding: 20px;
  width: 50%;
}

.studio-link {
  color: #bb1f26;
  font-weight: bold;
}

.page-nav-item {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 20px;
  width: 32.5%;
  position: relative;
}

.page-nav-item img {
  filter: brightness(80%);
}

.page-nav-item label {
  color: #FCFDFF;
  font-size: 2.25vw;
  left: 0;
  position: absolute;
  text-align: center;
  top: calc(50% - 30px);
  width: 100%;
  z-index: 1;
}

.studio-quote-source {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 10px;
}



/* PHONE */


/*@media screen and (max-width: 576px) {
  header {
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    background-color: lightgray;
    z-index: 1;
  }

  .content-area {
    position: relative;
    top: 42vh;
    width: 100%;
  }

  .menu-container {
    min-width: 60vw;
    width: 60%;
    float: right;
    padding-right: 10vw;
  }

  .menu {
    padding: 0;
  }

  .menu li {
    padding: 0;
    float: right;
  }
}*/
